* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'VT323', monospace;
    background-color: #5e5e5e;
}

header {
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    padding: 25px 0;
    /* display: flex;justify-content: center; */

}

header .header__content {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.container {
    width: 75%;
    margin: 0 auto;
    /* background-color: red; */
}

.game__content {
    text-align: center;
}

button {
    font-family: 'VT323', monospace;
    padding: 10px 20px;
    font-size: larger;
    border-radius: 5px;
    /* border: none; */
}

.game__controls {
    margin: 50px;
}

.game {
    position: relative;
    /* background: #fff; */
    width: fit-content;
    margin: 0 auto;
}

.car {
    background-image: url(../static/car90.png);
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 9;
}
.hidden{
    display: none;
}

table {
    /* margin: 0 auto; */
    border: 1px solid #5e5e5e;
    border-spacing: 0;
    /* width: 100%; */
}



td {
    width: 32px;
    height: 32px;
    /* margin: 0; */
}

td.occupied {
    /* background-color: violet; */
    background-image: url(../static/block.png);
}

td.available {
    /* background-color: skyblue; */
    background-image: url(../static/street.png);
    position: relative;

}

td.available.start::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0px;
    left: 0px;
}
td.available.finish::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: blue;
    top: 0px;
    left: 0px;
}