<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <!-- <h2>hello</h2> -->
                <h1>A* Road tracking game</h1>
                <nav class="nav">

                </nav>
            </div>

        </div>

    </header>
    <div class="container">
        <div class="game__content">
            <div class="game__controls">
                <button onclick="Generate()" class="generate">Generate</button>
                <button onclick="solve()" class="solve">click here</button>
            </div>
            <div class="game">
                <div id="car" class="car hidden"></div>
                <table id="grid-container">


                </table>
            </div>


        </div>


    </div>



    <script src="{{url_for('static', filename='index.js')}}"></script>

</body>

</html>